<%= stylesheet_link_tag 'application', media: 'all' %>
<h1>One Piece DB</h1>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <h2>Crews</h2>
  <p>This is a list of Crews in One Piece</p>
  <ol class="custom-list">
    <% @crews.each do |crew| %>
      <li>
        <%= @crew_number_offset + 1 %> <%= link_to crew.name, crew %>
      </li>
      <% @crew_number_offset += 1 %>
    <% end %>
  </ol>

  <%= paginate @crews %>
</body>

