<%= stylesheet_link_tag 'application', media: 'all' %>
<h2 class="title is-2 mt-3 ml-3">Search</h2>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
</body>

<% if @query.present? %>
  <h2>Search Results for "<%= @query %>":</h2>

  <% if @characters.present? && params[:category] == 'character' %>
    <h2>Characters:</h2>
    <% @characters.each do |character| %>
      <p><%= character.name %></p>
    <% end %>
  <% elsif @crews.present? && params[:category] == 'crew' %>
    <h2>Crews:</h2>
    <% @crews.each do |crew| %>
      <p><%= crew.name %></p>
    <% end %>
  <% elsif @fruits.present? && params[:category] == 'fruit' %>
    <h2>Fruits:</h2>
    <% @fruits.each do |fruit| %>
      <p><%= fruit.name %></p>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% else %>
  <h2>Nothing was queried. Please try again and input something!</h2>
<% end %>

