<%= stylesheet_link_tag 'application', media: 'all' %>
<h2 class="title is-2 mt-3 ml-3">Search</h2>
<body>
  <%= render 'shared/navbar' %>
  <%= yield %>
</body>

<% if @query.present? %>
  <!-- Display search results header -->
  <h2>Search Results for "<%= @query %>":</h2>

  <!-- Display characters if present and either no category is selected or category is character -->
  <% if @characters.present? && (!params[:category].present? || params[:category] == 'character') %>
    <h2>Characters:</h2>
    <% @characters.each do |character| %>
      <p><%= link_to character.name, character %></p>
    <% end %>
  <% end %>

  <!-- Display crews if present and either no category is selected or category is crew -->
  <% if @crews.present? && (!params[:category].present? || params[:category] == 'crew') %>
    <h2>Crews:</h2>
    <% @crews.each do |crew| %>
      <p><%= link_to crew.name, crew %></p>
    <% end %>
  <% end %>

  <!-- Display fruits if present and either no category is selected or category is fruit -->
  <% if @fruits.present? && (!params[:category].present? || params[:category] == 'fruit') %>
    <h2>Fruits:</h2>
    <% @fruits.each do |fruit| %>
      <p><%= link_to fruit.name, fruit %></p>
    <% end %>
  <% end %>

<% elsif !@characters.present? && !@crews.present? && !@fruits.present?%>
<% else%>
  <!-- Display message if nothing was queried -->
  <h2>Nothing was queried. Please try again and input something!</h2>
<% end %>
