  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link active', 'aria-current' => 'page' %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Characters', characters_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Crews', crews_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Fruits', fruits_path, class: 'nav-link' %>
          </li>
        </ul>
        <%= form_tag search_path, method: :get, class: "d-flex", role: "search" do %>
          <%= text_field_tag :search, params[:search], class: "form-control me-2", type: "search", placeholder: "Search", aria: { label: "Search" } %>
          <%= select_tag :category, options_for_select([['Select Category', ''], ['Characters', 'character'], ['Crew', 'crews'], ['Fruits', 'fruit']], params[:category]), class: "form-select me-2", aria: { label: "Options" } %>
          <%= submit_tag "Search", class: "btn btn-outline-success", type: "submit" %>
        <% end %>
      </div>
    </div>
</nav>
