<%= stylesheet_link_tag 'application.css', media: 'all' %>
<h1>One Piece DB</h1>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <div class="container text-center" id ="home_columns">
    <div class="row justify-content-start">
      <div class="col">
        <h2>Characters</h2>
          <% @characters.each do |character| %>
          <ol>
            <li>
              <%= link_to character.name, character %>
            </li>
          </ol>
          <% end %>
        <p class="mt-1">
          <strong>
            <%= link_to ' See all Characters', characters_path %>
          </strong>
        </p>
      </div>
      <div class="col">
        <h2>Crews</h2>
          <% @crews.each do |crew| %>
          <ol>
            <li>
              <%= link_to crew.name, crew %>
            </li>
          </ol>
          <% end %>
        <p class="mt-1">
          <strong>
            <%= link_to ' See all Crews', crews_path %>
          </strong>
        </p>
      </div>
      <div class="col">
        <h2>Fruits</h2>
          <% @fruits.each do |fruit| %>
          <ol>
            <li>
              <%= link_to fruit.name, fruit %>
            </li>
          </ol>
          <% end %>
        <p class="mt-1">
          <strong>
            <%= link_to ' See all Fruits', fruits_path %>
          </strong>
        </p>
      </div>
    </div>
  </div>






