<%= stylesheet_link_tag 'application', media: 'all' %>
<h1>One Piece DB</h1>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <h2>Characters</h2>
  <p>This is a list of Characters in One Piece</p>
  <ol class="custom-list">
    <% @characters.each do |character| %>
      <li>
        <%= @character_number_offset + 1 %> <%= link_to character.name, character %>
      </li>
      <% @character_number_offset += 1 %>
    <% end %>
  </ol>
<%= paginate @characters, views: 'kaminari/custom_views' %>
